<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/index.js"></script>
    <script defer src="/js/karusel-hits.js"></script>
    <script defer src="/js/haeder-footer.js"></script>
    <script defer src="/js/cart-hover-foto.js"></script>
    <script defer src="/js/modalCart.js"></script>
    <script defer src="/js/authoris.js"></script>
    <script defer src="/js/searchHeader.js"></script>
    <title>Блог</title>
</head>
<body>
    <%- include("partials/header.ejs")%>
    <%- include("partials/menu.ejs")%>
    <%- include("partials/modallogin.ejs")%>

    <main>
        <div class="container">
            <div class="promo-main-wp">
                <div class="img-promo-wp">
                    <img src="public/img/promo-img-fon-text.jpeg" alt="" class="promo-img-ferst">
                </div>
                <p class="promo-text-main">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et accusamus exercitationem fuga eos optio hic? Recusandae culpa adipisci ipsa voluptate esse quis cupiditate repellendus saepe at eum! Perspiciatis, facere commodi!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem natus corrupti laborum quo saepe corporis debitis inventore ullam, dolore doloribus sed nobis, consectetur rerum optio tempora earum enim voluptatibus consequuntur!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At natus excepturi exercitationem quae ullam deserunt laborum ducimus, corrupti tempora tempore tenetur repellendus. Accusamus rem quasi eveniet aliquam odit, fuga iure.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae repellendus optio eum iste, deserunt mollitia autem, deleniti quo accusamus dolorum numquam alias laboriosam nihil cupiditate quod. Neque, pariatur. Dignissimos, temporibus.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum iure aliquam recusandae corrupti fugit alias sapiente laboriosam nemo, temporibus neque, reprehenderit autem repudiandae dicta quidem doloremque corporis rem ipsa ratione.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt minima nulla ex odit voluptatibus. Ab, temporibus modi voluptatibus alias tempora quibusdam facere sed molestiae blanditiis quis voluptatum doloremque totam quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, tempora expedita. Modi incidunt quos vero eos, reiciendis earum laborum ratione debitis totam? Quaerat deleniti, nam voluptatibus sunt placeat laboriosam repudiandae.
                    Aliquid, praesentium consectetur. Distinctio illo modi temporibus commodi vel unde tenetur, pariatur voluptate consequatur veritatis? Aperiam repellat doloremque atque doloribus debitis soluta, pariatur, enim perspiciatis ullam alias ipsum, nam molestias!
                    Magni mollitia harum ipsum facilis consequatur repudiandae explicabo impedit molestias. Sequi impedit libero suscipit dolorum placeat perferendis temporibus. Officia quidem eaque blanditiis reiciendis voluptatum, ipsam saepe tempora eos aut excepturi!
                    Quos, quibusdam nihil consectetur aut autem, harum veritatis, a doloremque illum rem itaque accusamus recusandae cumque ipsum voluptatibus debitis quidem laudantium deleniti ut mollitia quas eius. Ducimus voluptatum et error.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur sequi debitis placeat ullam sapiente delectus mollitia optio enim aliquam. Esse est eaque fuga natus delectus excepturi perferendis ex dolor qui.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, tenetur veritatis accusantium atque, impedit corporis architecto minima voluptate ipsa dolorem recusandae accusamus, quidem perferendis animi itaque repellendus dignissimos dolores? Libero.
                    Et voluptatem harum tempore, ut maiores quas error nisi ipsa beatae ipsam cupiditate! Incidunt eos labore mollitia tempora quia eaque necessitatibus dolorem, saepe error explicabo, odit id ipsum reprehenderit rem!
                    Cumque, ullam. Modi impedit illo perferendis assumenda adipisci eum tenetur aperiam accusamus vero at quaerat unde et quam provident velit, ullam fugit nobis ducimus, voluptates, inventore labore. Eius, odit magnam!
                    Facere cumque nostrum odit unde, deserunt recusandae asperiores ipsa mollitia numquam rem. Ex doloribus ut nobis aspernatur iure voluptatum voluptas, cumque veniam earum fugit ipsa possimus iusto deserunt facere pariatur.
                    Aperiam iure architecto aspernatur quam adipisci, ea veritatis omnis expedita sit. Rem fugit quod architecto quisquam modi tempore sint tenetur excepturi? Exercitationem facere est dolor! Adipisci optio exercitationem temporibus totam.
                    Cum maiores, sunt libero accusantium sit minus quasi velit a porro laboriosam enim quis magnam, deserunt debitis doloremque ea sint. Minus architecto, totam voluptates adipisci et debitis illum vitae quis.
                </p>
                <div class="img-promo-wp-second">
                    <img src="img/promo-img-fon-text.jpeg" alt="" class="promo-img-ferst">
                </div>


                <p class="promo-text-main">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et accusamus exercitationem fuga eos optio hic? Recusandae culpa adipisci ipsa voluptate esse quis cupiditate repellendus saepe at eum! Perspiciatis, facere commodi!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem natus corrupti laborum quo saepe corporis debitis inventore ullam, dolore doloribus sed nobis, consectetur rerum optio tempora earum enim voluptatibus consequuntur!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At natus excepturi exercitationem quae ullam deserunt laborum ducimus, corrupti tempora tempore tenetur repellendus. Accusamus rem quasi eveniet aliquam odit, fuga iure.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae repellendus optio eum iste, deserunt mollitia autem, deleniti quo accusamus dolorum numquam alias laboriosam nihil cupiditate quod. Neque, pariatur. Dignissimos, temporibus.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum iure aliquam recusandae corrupti fugit alias sapiente laboriosam nemo, temporibus neque, reprehenderit autem repudiandae dicta quidem doloremque corporis rem ipsa ratione.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt minima nulla ex odit voluptatibus. Ab, temporibus modi voluptatibus alias tempora quibusdam facere sed molestiae blanditiis quis voluptatum doloremque totam quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, tempora expedita. Modi incidunt quos vero eos, reiciendis earum laborum ratione debitis totam? Quaerat deleniti, nam voluptatibus sunt placeat laboriosam repudiandae.
                    Aliquid, praesentium consectetur. Distinctio illo modi temporibus commodi vel unde tenetur, pariatur voluptate consequatur veritatis? Aperiam repellat doloremque atque doloribus debitis soluta, pariatur, enim perspiciatis ullam alias ipsum, nam molestias!
                    Magni mollitia harum ipsum facilis consequatur repudiandae explicabo impedit molestias. Sequi impedit libero suscipit dolorum placeat perferendis temporibus. Officia quidem eaque blanditiis reiciendis voluptatum, ipsam saepe tempora eos aut excepturi!
                    Quos, quibusdam nihil consectetur aut autem, harum veritatis, a doloremque illum rem itaque accusamus recusandae cumque ipsum voluptatibus debitis quidem laudantium deleniti ut mollitia quas eius. Ducimus voluptatum et error.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur sequi debitis placeat ullam sapiente delectus mollitia optio enim aliquam. Esse est eaque fuga natus delectus excepturi perferendis ex dolor qui.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, tenetur veritatis accusantium atque, impedit corporis architecto minima voluptate ipsa dolorem recusandae accusamus, quidem perferendis animi itaque repellendus dignissimos dolores? Libero.
                    Et voluptatem harum tempore, ut maiores quas error nisi ipsa beatae ipsam cupiditate! Incidunt eos labore mollitia tempora quia eaque necessitatibus dolorem, saepe error explicabo, odit id ipsum reprehenderit rem!
                    Cumque, ullam. Modi impedit illo perferendis assumenda adipisci eum tenetur aperiam accusamus vero at quaerat unde et quam provident velit, ullam fugit nobis ducimus, voluptates, inventore labore. Eius, odit magnam!
                    Facere cumque nostrum odit unde, deserunt recusandae asperiores ipsa mollitia numquam rem. Ex doloribus ut nobis aspernatur iure voluptatum voluptas, cumque veniam earum fugit ipsa possimus iusto deserunt facere pariatur.
                    Aperiam iure architecto aspernatur quam adipisci, ea veritatis omnis expedita sit. Rem fugit quod architecto quisquam modi tempore sint tenetur excepturi? Exercitationem facere est dolor! Adipisci optio exercitationem temporibus totam.
                    Cum maiores, sunt libero accusantium sit minus quasi velit a porro laboriosam enim quis magnam, deserunt debitis doloremque ea sint. Minus architecto, totam voluptates adipisci et debitis illum vitae quis.
                </p>
            </div>
        </div>
    </main>
    <!-- Футер -->
    <%- include("partials/footer.ejs")%>
    <%- include("partials/card.ejs")%>
</body>
</html>