<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/index.js"></script>
    <script defer src="/js/karusel-hits.js"></script>
    <script defer src="/js/haeder-footer.js"></script>
    
    <script defer src="/js/modalCart.js"></script>
    <script defer src="/js/authoris.js"></script>
    <script defer src="/js/searchHeader.js"></script>
    <title>Достака</title>
</head>
<body>
    <%- include("partials/header.ejs")%>
    <%- include("partials/menu.ejs")%>
    <%- include("partials/modallogin.ejs")%>
    

    <main>
        <section id="loyalotyProgramm">
            <div class="container">
                
            </div>
        </section>
    </main>
    <!-- Футер -->
    <%- include("partials/footer.ejs")%>
    <%- include("partials/card.ejs")%>
</body>
</html>