<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/haeder-footer.js"></script>
    <!-- <script defer src="/js/private-office.js"></script> -->
    <script defer src="/js/personalAccount.js"></script>
    <script defer src="/js/modalCart.js"></script>
    <script defer src="/js/authoris.js"></script>
    <script defer src="/js/searchHeader.js"></script>
    <title>MyProfile</title>
    
</head>
<body>
    
    <%- include("partials/header.ejs")%>
    <%- include("partials/menu.ejs")%>
    <%- include("partials/modallogin.ejs")%>

    <!-- number-of-order -->
    <!-- main -->
    <main>
        <section id="PersonalAccount">
            <div class="container">
                <div class="wp-persAcc">
                    <div class="persAcc-categori-wp">
                        <div class="categor-items-list-wp">
                            <h3 class="text-acc--myAcc">Мой аккаунт</h3>
                            <ul class="category-wp">
                                <li class="categor-item" id="1">
                                    <div class="categor-item-cont">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="CurrentColor" xmlns="http://www.w3.org/2000/svg" class="svg-categori svg-categori-active">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 2.65385C7.61038 2.65385 6.48387 3.77313 6.48387 5.15385C6.48387 6.53456 7.61038 7.65385 9 7.65385C10.3896 7.65385 11.5161 6.53456 11.5161 5.15385C11.5161 3.77313 10.3896 2.65385 9 2.65385ZM5.32258 5.15385C5.32258 3.13588 6.96902 1.5 9 1.5C11.031 1.5 12.6774 3.13588 12.6774 5.15385C12.6774 7.17181 11.031 8.80769 9 8.80769C6.96902 8.80769 5.32258 7.17181 5.32258 5.15385Z" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.09963 11.5C5.47683 11.5 4.16129 12.8071 4.16129 14.4195C4.16129 14.5042 4.17686 14.5639 4.19319 14.5987C4.20697 14.6281 4.21879 14.6365 4.22866 14.6418C4.67991 14.8858 5.94511 15.3462 9 15.3462C12.0549 15.3462 13.3201 14.8858 13.7713 14.6418C13.7812 14.6365 13.793 14.6281 13.8068 14.5987C13.8231 14.5639 13.8387 14.5042 13.8387 14.4195C13.8387 12.8071 12.5232 11.5 10.9004 11.5H7.09963ZM3 14.4195C3 12.1699 4.83547 10.3462 7.09963 10.3462H10.9004C13.1645 10.3462 15 12.1699 15 14.4195C15 14.8325 14.8495 15.3725 14.3264 15.6553C13.6335 16.03 12.1469 16.5 9 16.5C5.8531 16.5 4.36654 16.03 3.67359 15.6553C3.15048 15.3725 3 14.8325 3 14.4195Z" />
                                        </svg>
                                        <div class="categor-text categor-text-active" id="Acc">Аккаунт</div>
                                    </div>
                                    <div class="line-categori line-active"></div>
                                </li>
                                <li class="categor-item" id="2">
                                    <div class="categor-item-cont">
                                        <svg width="18" height="18" viewBox="0 0 20 20" fill="none" class="svg-categori " xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" fill="#F6D863" clip-rule="evenodd" d="M10.2083 7.08203C9.40417 7.08203 8.75 7.7362 8.75 8.5412C8.75 9.34536 9.40417 9.9987 10.2083 9.9987C11.0125 9.9987 11.6667 9.34536 11.6667 8.5412C11.6667 7.7362 11.0125 7.08203 10.2083 7.08203ZM10.2083 11.2487C8.715 11.2487 7.5 10.0345 7.5 8.5412C7.5 7.04703 8.715 5.83203 10.2083 5.83203C11.7017 5.83203 12.9167 7.04703 12.9167 8.5412C12.9167 10.0345 11.7017 11.2487 10.2083 11.2487Z" />
                                            <mask id="mask0_557_3383" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="3" y="1" width="15" height="17">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33203 1.66602H17.0816V17.916H3.33203V1.66602Z" fill="white"/>
                                            </mask>
                                            <g mask="url(#mask0_557_3383)">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.207 2.91602C7.10536 2.91602 4.58203 5.46352 4.58203 8.59352C4.58203 12.576 9.2687 16.456 10.207 16.6627C11.1454 16.4552 15.832 12.5752 15.832 8.59352C15.832 5.46352 13.3087 2.91602 10.207 2.91602ZM10.207 17.916C8.71203 17.916 3.33203 13.2893 3.33203 8.59352C3.33203 4.77352 6.4162 1.66602 10.207 1.66602C13.9979 1.66602 17.082 4.77352 17.082 8.59352C17.082 13.2893 11.702 17.916 10.207 17.916Z" />
                                            </g>
                                        </svg>
                                            
                                        <div class="categor-text" id="Adress" >Адресс</div>
                                    </div>
                                    <div class="line-categori"></div>
                                </li>
                                <li class="categor-item" id="4">
                                    <div class="categor-item-cont">
                                        <svg width="18" height="16" viewBox="0 0 16 16" fill="none" class="svg-categori " xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 15.1099C7.77222 15.1099 7.55261 15.0273 7.38147 14.8774C6.73511 14.3123 6.11194 13.7811 5.56213 13.3126L5.55933 13.3102C3.94739 11.9365 2.55542 10.7502 1.58691 9.58167C0.504272 8.27527 0 7.03662 0 5.68347C0 4.36877 0.450806 3.15588 1.26929 2.26807C2.09753 1.36975 3.23401 0.875 4.46973 0.875C5.39331 0.875 6.23914 1.16699 6.98364 1.7428C7.35938 2.03345 7.69995 2.38916 8 2.80408C8.30017 2.38916 8.64062 2.03345 9.01648 1.7428C9.76099 1.16699 10.6068 0.875 11.5304 0.875C12.766 0.875 13.9026 1.36975 14.7308 2.26807C15.5493 3.15588 16 4.36877 16 5.68347C16 7.03662 15.4958 8.27527 14.4132 9.58154C13.4447 10.7502 12.0529 11.9364 10.4412 13.3099C9.89038 13.7792 9.26624 14.3112 8.61841 14.8777C8.44739 15.0273 8.22766 15.1099 8 15.1099ZM4.46973 1.81226C3.4989 1.81226 2.60706 2.19971 1.95825 2.90332C1.2998 3.61755 0.937134 4.60486 0.937134 5.68347C0.937134 6.82153 1.36011 7.83936 2.30847 8.98364C3.2251 10.0897 4.5885 11.2516 6.16711 12.5969L6.17004 12.5994C6.72192 13.0697 7.34753 13.6029 7.99866 14.1722C8.65369 13.6018 9.28027 13.0677 9.83325 12.5967C11.4117 11.2513 12.775 10.0897 13.6917 8.98364C14.6399 7.83936 15.0629 6.82153 15.0629 5.68347C15.0629 4.60486 14.7002 3.61755 14.0417 2.90332C13.3931 2.19971 12.5011 1.81226 11.5304 1.81226C10.8192 1.81226 10.1663 2.03833 9.58972 2.48413C9.07593 2.88159 8.71802 3.38403 8.50818 3.7356C8.40027 3.91638 8.21033 4.02429 8 4.02429C7.78967 4.02429 7.59973 3.91638 7.49182 3.7356C7.2821 3.38403 6.92419 2.88159 6.41028 2.48413C5.83374 2.03833 5.18079 1.81226 4.46973 1.81226Z" />
                                        </svg>
                                            
                                        <div class="categor-text" id="Favourites">Избранное</div>
                                    </div>
                                    <div class="line-categori"></div>
                                </li>
                                <li class="categor-item" id="5">
                                    <div class="categor-item-cont">
                                        <svg width="18" height="18" viewBox="0 0 18 18" id="svg-basket" fill="none" class="svg-categori svg-categori-stroke"  xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.1875 11.1402L7.43225 8.22344L9.99275 10.2334L12.1895 7.39844"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path stroke="#F6D863" fill-rule="evenodd" clip-rule="evenodd" d="M14.7501 1.7627C15.5466 1.7627 16.1916 2.4077 16.1916 3.2042C16.1916 3.99995 15.5466 4.6457 14.7501 4.6457C13.9536 4.6457 13.3086 3.99995 13.3086 3.2042C13.3086 2.4077 13.9536 1.7627 14.7501 1.7627Z"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M15.5654 6.95204C15.6652 7.62329 15.7109 8.37929 15.7109 9.22754C15.7109 14.431 13.9769 16.165 8.77344 16.165C3.57069 16.165 1.83594 14.431 1.83594 9.22754C1.83594 4.02479 3.57069 2.29004 8.77344 2.29004C9.60594 2.29004 10.3492 2.33429 11.0107 2.43029"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                            
                                        <div class="categor-text"  id="Orders">Заказы</div>
                                    </div>
                                    <div class="line-categori"></div>
                                </li>
                                <li class="categor-item" id="6">
                                    <div class="categor-item-cont">
                                        <svg width="18" height="18" viewBox="0 0 18 18" id="svg-support" class="svg-categori svg-categori-stroke" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 15.75C4.12918 15.75 2.2175 15.404 1.90764 13.6525C1.59779 11.901 3.58037 8.60806 4.19131 7.52135C6.23443 3.88806 7.62279 2.25 9 2.25C10.3772 2.25 11.7656 3.88806 13.8087 7.52135C14.4196 8.60806 16.4022 11.901 16.0924 13.6525C15.7833 15.404 13.8708 15.75 9 15.75Z"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path stroke="#ff214f" d="M9 6.375V9.29625"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path stroke="#ff214f" d="M8.99662 11.9209H9.00337"  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                            
                                        <div class="categor-text" id="Support" >Поддержка</div>
                                    </div>
                                    <div class="line-categori"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="categori-exit-wp">
                            <ul class="">
                                <li class="categor-item" >
                                    <div class="categor-item-cont">
                                        <svg width="20" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-acc-exit">
                                            <path stroke="#F6D863" d="M18.1592 10.1012H8.125" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path stroke="#F6D863" d="M15.7227 7.6709L18.1627 10.1009L15.7227 12.5309" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M13.6328 6.35866C13.3578 3.37533 12.2411 2.29199 7.79948 2.29199C1.88198 2.29199 1.88198 4.21699 1.88198 10.0003C1.88198 15.7837 1.88198 17.7087 7.79948 17.7087C12.2411 17.7087 13.3578 16.6253 13.6328 13.642" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                            
                                        <a ><div class="categor-text categor-text-active-exit" id="ButtonExPrivOf">Выход</div></a>
                                    </div>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="persAcc-data-wp">

                    </div>
                        
                    
                </div>
            </div>
            <!-- от -->
            <!-- до -->
        </section>
    </main>
     <!-- Футер -->
     <%- include("partials/footer.ejs")%>
     <%- include("partials/card.ejs")%>
     
</body>
</html>